<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qual é a Boa | Atualização de dados</title>
</head>
<body>
    <p>Front end temporario</p>
    <h1>Dados de Estabelecimento</h1>
    <form action="/adicionarEstabelecimento" method="post">
        <div class="mb-3">
        
            <div class="row">
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Digite o nome completo do
                        Proprietário</label>
                    <input type="text" name="nomeDono" class="form-control" placeholder="Nome completo" enable required>
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Digite o nome do
                        Estabelecimento</label>
                    <input type="text" name="nomeEstabelecimento" class="form-control" placeholder="Nome Estabelecimento" enable required>
                </div>
            </div>
    
        </div>

        <div class="mb-3">
            
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Digite a Cidade</label>
                        <input type="text" name="cidade" class="form-control" placeholder="Cidade" required>
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Digite o Estado</label>
                        <input type="text" name="estado" class="form-control" placeholder="Estado" required>
                    </div>
                    <div class="col-md-2">
                        <label for="exampleFormControlInput1" class="form-label">Digite o CEP</label>
                        <input type="text" name="cep" class="form-control" placeholder="CEP" maxlength="8" onblur="consultarCEP(this.value)" enable required>
                    </div>
                </div>
        
        </div>

        <div class="mb-3">
            
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Digite o nome da rua do
                            Estabelecimento</label>
                        <input type="text" name="rua" class="form-control" placeholder="Rua" enable required>
                    </div>
                    <div class="col-md-1">
                        <label for="exampleFormControlInput1" class="form-label">Numero</label>
                        <input type="text" name="numero" class="form-control" placeholder="00" enable required>
                    </div>
                    <div class="col-md-5">
                        <label for="exampleFormControlInput1" class="form-label">Bairro</label>
                        <input type="text" name="bairro" class="form-control" placeholder="Bairro" enable required>
                    </div>

                </div>
        
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Lotação Máxima</label>
            <input type="number" name="lotacaoMaxima" class="form-control" id="exampleFormControlInput1"
                placeholder="Digite a quantidade máxima de pessoas que seu local pode receber" enable>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Informações Complementares</label>
            <textarea class="form-control" name="infoComplementar" id="exampleFormControlTextarea1"
                placeholder="Digite as informações Complementares do Estabelecimento" rows="3" enable></textarea>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Url de uma foto para seu perfil comercial</label>
            <input name="urlImagemPerfil" class="form-control" type="url" id="formFile" enable>
        </div>

        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Url alguma foto do Local</label>
            <input name="urlImagemLocal" class="form-control" type="url" id="formFileMultiple" multiple enable>
        </div>

        <div class="mb-3">
            <div class="d-grid d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="submit" enable>Atualizar dados</button>
            </div>
        </div>
        </div>
    </form>
    <small>
        <p>
            Front End feito apenas para testar se o registro de estabelecimento estaa funcionando
        </p>
    </small>
</body>
</html>