
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserPerfil</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="signup-w3ls">   
    <div class="signup-agile1">
    <form action="#" method="post">
    
    <div class="form-control"> 
    <label class="header">Foto de Perfil:</label>
    
    <input id="PerF.JPG" type="file" name="img" placeholder="Perf.JPG" required="" capture>
        </div>
    <br><br>   

    <script src = "post.js"></script>
        <form onsubmit ="InforUsuario()">
            
        <label for ="name">Nick Name::</label>
            <input name="name" id="name" type="text">
                <br><br>

        <label for ="email">Email::</label>
            <input email ="email" id="email" type="text">
                <br><br>

        <label for ="data">Data::</label>
            <input data = "data" id="data" type="date">
                <br><br>

        <label for ="bio">Bio::</label>
            <input bio ="bio" id="bio" type="text">
                <br><br>

        <button type="submit">Atualizar Alterações</button>
    </form>


</body>
</html>
